.depress-btn {
  box-shadow: 0 5px 10px #999;
  transition: 0.5s ease; 
  transform: translateY(-5px);

}

.depress-btn:hover {
  background-color: darkred;
  transform: translateY(0);
  box-shadow: 0 0 0 #999;

}

/* .depress-btn:hover a {
  text-transform: lowercase;
} */
/* .bg-tomato{
  background: tomato;
} */

.capsule-btn {
  border-radius: 0;
  transition: 0.5s ease;
  position: relative;
  overflow: hidden;


}

.capsule-btn:hover {
  border-radius: 50px;
  /* box-shadow: inset 50px 0 0 0 #6c50f4; */
}
/* depress-btn:hover a {
  text-transform: lowercase;
} */

/* .capsule-btn{
border-radius: 0;

} */
.capsule-btn::after {
  content: '';
  transition: 0.5s ease;
  position: absolute;
  width: 50%;
  height: 100%;
  top: 0;
  left:0;
  background-color: #6c50f4;
  mix-blend-mode: color;
}

.capsule-btn:hover:after {
  opacity: 1;
}

.anim-btn span {
  display: block;

}

.anim-btn:hover {
  animation: bgChange 3s ease-in-out infinite alternate;

}



.anim-btn:hover span {
   animation: textWiggle 0.5s ease-in-out infinite;
}

@keyframes textWiggle {

  25% {
   transform: rotate(10deg);
  }

  50% {
   transform: rotate(-10deg);

  }
  75% {
    transform: rotate(0deg);
  }

} 

@keyframes bgChange {
  25% {
    background-color: purple;
  }
  50% {
    background-color: crimson;

  }
  75%{
    background-color: darkred;
  }
  100%{
    background-color: red;
  }
}

button {
  background-color: tomato;
  color: white;
  text-transform: uppercase;
  border: 0 solid tomato;
  padding: 20px 40px;
  margin: 50px 0;
}

/* button:hover {
  background: none;
  border: 1px solid tomato;
} */



 /*button:nth-child(2){
  background-color: red;
}

button:nth-child(3){
  background-color: crimson;

}

button:nth-child(4){
  background-color: darkred;
} 
*/
/* button:nth-of-type(2n){
  background: none;
  color: black;
} */
