.depress-btn {
  box-shadow: 0 5px 10px #999;
  transition: 0.5s ease;
  transform: translateY(-5px);

}

.depress-btn:hover {
  background-color: darkred;
  transform: translateY(0);
  box-shadow: 0 0 0 #999;

}

button {
  background-color: tomato;
  color: white;
  text-transform: uppercase;
  border: none;
  padding: 20px 40px;
  margin: 50px 0;
}



button:nth-child(2){
  background-color: red;
}

button:nth-child(3){
  background-color: crimson;

}

button:nth-child(4){
  background-color: darkred;
}

/* button:nth-of-type(2n){
  background: none;
  color: black;
} */
